:root {
  --primary: #b02a37;
}
* {
  transition: all 0.5s ease-in-out;
}
.fill {
  object-fit: fill;
}

.cover {
  object-fit: cover;
}

a,
a:hover,
section a,
section a:hover {
  text-decoration: none;
}
a:hover,
section a:hover {
  text-decoration: underline;
}
a,
a:hover {
  color: #fff;
}
.ratio > * {
  border-radius: 0.25rem;
}

section a,
section a:hover {
  color: var(--primary);
}
.btn-check:focus + .btn,
.btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(176, 42, 55, 0.25);
}
.carousel-item {
  height: 700px;
  object-fit: cover;
}
.carousel-item img {
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.75);
  bottom: 3rem;
  padding: 1.25rem;
}
section h2 {
  margin-bottom: 0;
}
section header {
  padding: 4rem 0 1rem;
}
.criticas {
  object-fit: cover;
}
.criticas img {
  height: 440px;
}
.filmes {
  object-fit: contain;
}
.filmes img {
}
.noticias a {
  padding: 1rem;
}
.series img {
}
.navbar-brand {
  font-size: 2rem;
}
.input-group .form-control,
.input-group span {
  border: 1px solid white;
}

.input-group .form-control {
  border-radius: 50rem 0 0 50rem;
}
.input-group span {
  border-radius: 0 50rem 50rem 0;
  background: #fff;
}
.compartilhar {
  width: 50px;
  height: 50px;
  border-width: 0;
}
.compartilhar svg {
  fill: #fff;
}
.compartilhar:hover svg {
  fill: rgb(var(--bs-dark-rgb));
}
.compartilhar:hover {
  box-shadow: 0 0 0 5px rgb(var(--bs-dark-rgb));
  background: transparent !important;
}

article img {
  border-radius: 0.25rem !important;
  margin-bottom: 0.5rem;
  line-height: 1;
  max-width: 100%;
  height: auto;
}
.ficha {
  list-style-type: none;
  padding-left: 0;
  color: #808080;
}

.modal-content {
  border: 1px solid #fff;
}
.modal-content button {
  padding: 0;
  margin: 0;
  font-size: small;
  text-transform: uppercase;
}
.compartilhar-link a {
  color: var(--text-dark);
  display: block;
}
.compartilhar-link {
  padding: 0;
}
.compartilhar-link a {
  padding: 0.5rem 1rem;
}
.compartilhar-link a:hover {
  text-decoration: none;
  color: #fff;
}
.compartilhar-link-facebook a:hover {
  border-color: #1877f2;
  background-color: #1877f2;
}
.compartilhar-link-twitter a:hover {
  border-color: #1da1f2;
  background-color: #1da1f2;
}
.compartilhar-link-linkedin a:hover {
  border-color: #0077b5;
  background-color: #0077b5;
}
.compartilhar-link-whatsapp a:hover {
  border-color: #075e54;
  background-color: #075e54;
}
.compartilhar-link-telegram a:hover {
  border-color: #0088cc;
  background-color: #0088cc;
}
.navegacao-posts {
  border: 2px solid #808080;
  border-width: 2px 0;
}
.tags a,
.categorias a {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  border-radius: 50rem;
}
.tags a {
  background-color: rgb(var(--bs-light-rgb));
  color: rgba(var(--bs-dark-rgb));
}
.categorias a {
  background-color: rgba(var(--bs-dark-rgb));
  color: rgb(var(--bs-light-rgb));
}
.tags a:hover,
.categorias a:hover {
  background: var(--primary);
  color: #fff;
  text-decoration: none;
}
.banner,
.conteudo img {
  box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 20%);
}
